[mysqld]
#
# * Character sets
#
# Default is Latin1, if you need UTF-8 set all this (also in client section)
#
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci
character_set_server  = utf8mb4
collation_server      = utf8mb4_general_ci

